<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NEC CMS</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      font-family: Montserrat;
    }

    .card {
      border: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .submitbtn {
      font-weight: 700 !important;
    }
  </style>
  <body>
    <div class="container">
      <div class="card p-3" style="margin: 2em auto;">
        <h4 style="margin-bottom: 0; padding-bottom:0;">
          <b>NEC Faculty</b>
          <button class="btn btn-danger" style="float: right;">Logout</button>
        </h4>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card p-3">
            Name: {{ user.name }}
            <br />
            Email: {{ user.email }}
            <br />
            College ID: {{ user.collegeId }}
          </div>
          <!-- <a href="" class="submitbtn btn btn-primary col-12 mt-3">
              Students
          </a> -->
        </div>

        <div class="col-lg-8">
          <div class="card p-3">
            <h4><b> Students </b></h4>

            <table class="table">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Name</th>
                  <th scope="col">College Id</th>
                  <th scope="col">Email</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                <tr>
                  <!-- <th scope="row">{{i}}</th> -->
                  <td>{{ student.name }}</td>
                  <td>{{ student.collegeId }}</td>
                  <td>{{ student.email }}</td>
                  <td><a href="/user/dashboard/teacher/students/details/?collegeId={{ student.collegeId }}">Marks</a></td>
                
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
